.checkstyle
.classpath
.project
.settings/
target/
.idea/
*.class
*.jar
*.iml
bin/
*.properties
.gradle
.groovy

/spacelift
/logs

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
build
buildSrc/build

*.backup*
log-cleaner.log

/snapshot
